body{
    color:white;
    background-color: pink;
}

.heading{
font-size: 22px;
width:80%;

}

#camera{
    border: 2px dashed black;
    width: 350px;
    height:300px;

}

#result_object_name, #result_object_accuracy, .name_of_objects{
    color:rgb(0, 82, 0);
}